/.idea
/venv
/env
/env36
/.pytest_cache
/__pycache__/
/.vscode
/reports
/screenshots
/logs
!/reports/allure_results/environment.properties
/credentials
__pycache__
.pytest_cache
.DS_STORE
.idea/*
.python-version
.github
test_lrone.py
lrone_temp.json
get-pip.py
tests/reports/
reports/*
